db_password=root
jwt_secret_key=replace-with-a-strong-jwt-secret

google_client_id=
google_client_secret=
google_redirect_uri=http://localhost:8081/login/oauth2/code/google

smtp_username=
smtp_app_password=
smtp_from_email=
smtp_from_name=FlowBoard
frontend_url=http://localhost:5173

cloudinary_cloud_name=
cloudinary_api_key=
cloudinary_api_secret=

brevo_api_key=
brevo_sender_mail=

razorpay_key_id=
razorpay_key_secret=

MYSQL_ROOT_PASSWORD=root
MYSQL_HOST_PORT=3307
REDIS_HOST_PORT=6380
RABBITMQ_HOST_PORT=5673
RABBITMQ_MANAGEMENT_HOST_PORT=15673
EUREKA_HOST_PORT=18761
API_GATEWAY_HOST_PORT=18080
AUTH_SERVICE_HOST_PORT=18081
NOTIFICATION_SERVICE_HOST_PORT=18082
COMMENT_SERVICE_HOST_PORT=18083
WORKSPACE_SERVICE_HOST_PORT=18084
BOARD_SERVICE_HOST_PORT=18085
LIST_SERVICE_HOST_PORT=18086
CARD_SERVICE_HOST_PORT=18087
PAYMENT_SERVICE_HOST_PORT=18089
ADMIN_SERVICE_HOST_PORT=18091
